@font-face {
  font-family: "comic";
  src: url('../../fonts/comici.ttf') format("truetype");
  font-weight: 400;
}

#home-header{
font-family: "comic", sans-serif;
display: inline-block;
/*vertical-align: middle;*/
/*line-height:1.5;*/
padding-top: 2rem;
padding-bottom:2rem;
max-width:100%;
}


.grid{
display: grid
}

.inline-block{
display: inline-block
}

.flex{
display: flex;
}

.flex-col{
flex-direction: column;
}

.text-center{
text-align:center;
}

.text-left{
text-align:left;
}

.text-right{
text-align:right;
}

.container{
width: 90%;
margin: auto;
border-style: dotted;

}

.carousel{
width:100%;
height: 100%;
display: flex;
justify-content: flex-start;
height: 500px;
position: relative;

}


.slider{
display:flex;
flex-shrink:0;
width: 500%;
height: 100%;
transition: all 0.3s;

}

.slider section{
display: flex; /*not sure*/
flex-basis: 20%;
width: 20%; /*not sure*/
justify-content: center;
align-items: center;
}


.controls .arrow{
position: absolute;

}

.arrow.left{
left: 10px;
bottom: 220px;

}

.arrow.right{
right: 10px;
bottom: 220px;
}



